body{
  font-family:  PT Sans Caption,sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    /* max-width: 1500px; */
    /* margin:0 auto; */
    /* padding:20px 200px; */

  }
  .header_ele{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-3-ul{
      padding:0;
      margin:0;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 900;
  }
  .header-3-ul a{
      color:inherit;
      text-decoration: none;
      
    }
    .header-3-ul a:active{
      color:inherit;
      text-decoration: none;

  }
  .header-3-ul li{
    padding:5px;
    font-size: 12px;
  }
  .header-3-ul li:hover{
      
      background-color: rgb(252, 252, 252);
      cursor: pointer;
  }
  .double{
        height: 4px;
        border: 2px solid rgb(0, 0, 0);
      
  }
  .modal-content{
      text-align: center;
  }
  footer{
      /* padding:20px 200px; */
  }
  footer .container ul{
      list-style:none;
  }
  footer .container{
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
  }
  footer .container div a{
    color:inherit;
      text-decoration: none;     
  }
  footer .container div a:active{
    color:inherit;
      text-decoration: none;
  }